@import url(./fonts.css);


:root{
    --font-primary: 'Roboto';
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--font-primary);
}
a{
    text-decoration: none;
}
ul{
    list-style: none;
}
.container{
    max-width: 1376px;
    width: 100%;
    margin:  auto;
    padding: 0 12px;
}

/* header start */


/* header end */


/* membership start */

/* membership end */


/* guide start */

/* guide end */


/* info start */



/* info end */


/* slider start */




/* slider end */


.already
{
    position: absolute;
height: 600px;
left: 0%;
right: 0%;
top: 0px;

background: #FBEECA;
border-radius: 0px;
}
.already .container h1
{
margin-top: 100px;
    position: absolute;
height: 54px;
left: 2%;
right: 1.88%;
/* top: -4px; */

font-family: 'Roboto';
font-style: normal;
font-weight: 700;
font-size: 51px;
line-height: 54px;
/* identical to box height, or 106% */

text-align: center;
letter-spacing: 0.5px;

color: #692340;
}
.already .container p
{
padding: 110px 275px 303px 275px;
    margin-top: px;
    position: absolute;
height: 90px;
left: 0.14%;
right: 0.14%;
top: 87px;

font-family: 'Roboto';
font-style: normal;
font-weight: 300;
font-size: 20px;
line-height: 30px;


text-align: center;

color: #692340;
}
.already .container button
{
    margin: 340px 550px 216px 550px;
    /* margin: 350px 100px 0 0px; */
    color: #692340;
    width: 225px;
    height: 60px;
    font-weight: 700;
    font-size: 15px;
    border: 1px solid #692340;
    background: #FBEECA;
}





/* already end */




/* community start */




/* community end */


/* place start */




/* place end */


/* footer start */




/* footer end */



